<header class="header">
  <div class="container">
		<ul class="footer-socials-list">
			<li class="footer-socials-list-item">
			  <a
				class="footer-socials-href"
				target="_blank"
				rel="noopener noreferrer"
				href="https://www.instagram.com/denvik_i/reels/"
			  >
				<svg class="footer-social__svg" width="24" height="24">
				  <use href="./img/icons.svg#icon-instagram"></use>
				</svg>
			  </a>
			</li>
			<li class="footer-socials-list-item">
			  <a
				class="footer-socials-href"
				target="_blank"
				rel="noopener noreferrer"
				href="https://www.facebook.com/profile.php?id=100029193428156"
			  >
				<svg class="footer-social__svg" width="24" height="24">
				  <use href="./img/icons.svg#icon-facebook"></use>
				</svg>
			  </a>
			</li>
			<li class="footer-socials-list-item">
			  <a
				class="footer-socials-href"
				target="_blank"
				rel="noopener noreferrer"
				href="https://www.linkedin.com/in/denys-harkusha-098794181/recent-activity/all/"
			  >
				<svg class="footer-social__svg" width="24" height="24">
				  <use href="./img/icons.svg#icon-linkedin"></use>
				</svg>
			  </a>
			</li>
		  </ul>
  </div>
</header>
