<header class="header">
	<div class="container">
		<div class="header-inner">
			<a href="../index.html" class="logo">Portfolio</a>
			<address class="header-address">
				<ul class="header-socials-list">
					<li class="header-socials-list-item">
						<a
							class="header-socials-href"
							target="_blank"
							rel="noopener noreferrer"
							href="https://www.instagram.com/denvik_i/reels/"
						>
							<svg class="header-social__svg" width="24" height="24">
								<use href="./img/icons.svg#icon-instagram"></use>
							</svg>
						</a>
					</li>
					<li class="header-socials-list-item">
						<a
							class="header-socials-href"
							target="_blank"
							rel="noopener noreferrer"
							href="https://www.facebook.com/profile.php?id=100029193428156"
						>
							<svg class="header-social__svg" width="24" height="24">
								<use href="./img/icons.svg#icon-facebook"></use>
							</svg>
						</a>
					</li>
					<li class="header-socials-list-item">
						<a
							class="header-socials-href"
							target="_blank"
							rel="noopener noreferrer"
							href="https://www.linkedin.com/in/denys-harkusha-098794181/recent-activity/all/"
						>
							<svg class="header-social__svg" width="24" height="24">
								<use href="./img/icons.svg#icon-linkedin"></use>
							</svg>
						</a>
					</li>
					<li class="header-socials-list-item">
						<a
							class="header-socials-href git"
							target="_blank"
							rel="noopener noreferrer"
							href="https://github.com/DenysHV1"
						>
							git
						</a>
					</li>
				</ul>
			</address>
		</div>
	</div>
</header>
