body {
	line-height: 1.5;
	font-size: 16px;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	font-family: 'SUSE', sans-serif;
	height: 100vh;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-image: url(../img/bg/portfolio-bg.jpg);
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* / */
.js-another-list {
	transform: translateX(-150%);
	padding-top: 0;
	padding-bottom: 0;
	position: absolute;
	visibility: hidden;
}

.js-another-list.is-open {
	transform: translateX(0);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	position: relative;
	padding-top: 20px;
	padding-bottom: 60px;
	visibility: visible;
	visibility: visible;
}
/* / */
.js-main-list {
	transform: translateX(-150%);
	padding-top: 0;
	padding-bottom: 0;
	position: absolute;
	visibility: hidden;
}

.js-main-list.is-open {
	transform: translateX(0);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	position: relative;
	padding-top: 20px;
	padding-bottom: 60px;
	visibility: visible;
}
/* / */
.html-css-main-list {
	transform: translateX(-150%);
	padding-top: 0;
	padding-bottom: 0;
	position: absolute;
	visibility: hidden;
}

.html-css-main-list.is-open {
	transform: translateX(0);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	position: relative;
	padding-top: 20px;
	padding-bottom: 60px;
	visibility: visible;
}
/* / */
.html-css-another-list {
	transform: translateX(-150%);
	padding-top: 0;
	padding-bottom: 0;
	position: absolute;
	visibility: hidden;
}

.html-css-another-list.is-open {
	transform: translateX(0);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	position: relative;
	padding-top: 20px;
	padding-bottom: 60px;
	visibility: visible;
}
/* / */
.react-main-list {
	transform: translateX(-150%);
	padding-top: 0;
	padding-bottom: 0;
	position: absolute;
	visibility: hidden;
}

.react-main-list.is-open {
	transform: translateX(0);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	position: relative;
	padding-top: 20px;
	padding-bottom: 60px;
	visibility: visible;
}
/* / */
.react-another-list {
	transform: translateX(-150%);
	padding-top: 0;
	padding-bottom: 0;
	position: absolute;
	visibility: hidden;
}

.react-another-list.is-open {
	transform: translateX(0);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	position: relative;
	padding-top: 20px;
	padding-bottom: 60px;
	visibility: visible;
}
/* / */
