body {
	line-height: 1.5;
	font-size: 16px;
}

html {
	scroll-behavior: smooth;
}

html,
body {

	font-family: "SUSE", sans-serif;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background: -webkit-linear-gradient(90deg, #000000, #75151d, #000000);
	background: linear-gradient(90deg, #000000, #75151d, #000000);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}


/* / */
.js-games-list{
transform: translateX(-150%);
padding-top: 0;
padding-bottom: 0;
position: absolute;

}

.js-games-list.is-open{
	transform: translateX(0);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	position: relative;
	padding-top: 20px;
	padding-bottom: 60px;
	min-height: auto;
}
/* / */
.js-forms-list{
	transform: translateX(-150%);
	padding-top: 0;
	padding-bottom: 0;
	position: absolute;
}

.js-forms-list.is-open{
	transform: translateX(0);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	position: relative;
	padding-top: 20px;
	padding-bottom: 60px;
	min-height: auto;
}
/* / */
.js-features-list{
	transform: translateX(-150%);
	padding-top: 0;
	padding-bottom: 0;
	position: absolute;
}

.js-features-list.is-open{
	transform: translateX(0);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	position: relative;
	padding-top: 20px;
	padding-bottom: 60px;
	min-height: auto;
}
/* / */
.js-projects-list{
	transform: translateX(-150%);
	padding-top: 0;
	padding-bottom: 0;
	position: absolute;
}

.js-projects-list.is-open{
	transform: translateX(0);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	position: relative;
	padding-top: 20px;
	padding-bottom: 60px;
	min-height: auto;
}
/* / */
.simple-webSides-list-js{
	transform: translateX(-150%);
	padding-top: 0;
	padding-bottom: 0;
	position: absolute;
}

.simple-webSides-list-js.is-open{
	transform: translateX(0);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	position: relative;
	padding-top: 20px;
	padding-bottom: 60px;
	min-height: auto;
}
/* / */
.react-list{
	transform: translateX(-150%);
	padding-top: 0;
	padding-bottom: 0;
	position: absolute;
}

.react-list.is-open{
	transform: translateX(0);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	position: relative;
	padding-top: 20px;
	padding-bottom: 60px;
	min-height: 500px;
}
/* / */
