.header {
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	backdrop-filter: blur(10px);
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

/* socials */
.header-socials-list {
	display: flex;
	align-items: center;
	gap: 20px;
}

.header-socials-href {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header-socials-href:hover {
	transform: scale(1.05);
	box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 40px;
}

.header-socials-href:focus {
	transform: scale(1.05);
	box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 40px;
}

.header-social__svg {
	fill: black;
}

.git {
	font-size: 26px;
	font-style: normal;
	font-weight: 900;
	color: black;
}
/* socials */

.logo{
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 36px;
	font-weight: 700;
}









@media screen and (max-width: 500px) {
	.logo{
		font-size: 36px;
		padding-right: 20px;
		
	}
	.header-socials-href {
		width: 33px;
		height: 33px;
	}
}

@media screen and (max-width: 450px) {
	.header-inner {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.header-socials-href {
		width: 40px;
		height: 40px;
	}
}

@media screen and (max-width: 365px) {

}
