@import url('./reset.css');

@import url('./header.css');
@import url('./last-projects.css');
@import url('./list-item.css');
@import url('./portfolio.css');

.container {
	padding-left: 30px;
	padding-right: 30px;
}


html,body{
	scroll-behavior: smooth;
}